

.navigatie {
        list-style-type: none;
        background-color: darkslategray;
        display: flex;
        justify-content: center;
        padding: 2px;
        color: gold;
        font: italic bold 30px/50px georgia, serif;
        border: 2px solid black;
    
           
        
}

#logo {
     display: flex;
     justify-content: center;
}


.navigatie a {
    color: gold;
    font: italic bold 30px/50px georgia, serif;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.2s;
    
} 

    .navigatie a:hover {
    background-color: darkgreen;
    }

 .navigatie active {
    background-color: rgb(153, 212, 214);
    color: darkkhaki;
    } 

body {
    background-color: darkslategray;
    height: 10%;    
    text-decoration: wavy
    color: gold;
    font: italic bold 30px/50px Georgia, serif;
    
 }  

     
 
.center-container  {
         background-color: darkslategray;
        margin-top: 30px;
        display: flex;
            justify-content: center;
            align-items: center;
         }
.flexcolom { 
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    
      }
          
        .box  {
              width: 20%;
              margin: 0;
              height: fit-content;
              border: 2px solid black;
              margin: 20px;
              text-align: center;
          font-size: 80%;
           }
           .box img {
            width: 100%;
           }
        

